{% extends 'base.html' %}
{% load static %}
{% block title %} Add Post {% endblock title %}

{% block content %}
<style>
    .add-post-page{
        padding: 30px 20px;
    }
    .add-post-page-title{
        text-align: center;
        padding: 20px 0;
    }
    .add-post-form{
        width: 100%;
        max-width: 700px;
        margin: auto;
        padding: 20px;
        background: lightblue;
    }
</style>
<main class="add-post-page">
    <h2 class="add-post-page-title">Add New post</h2>
<div class="add-post-form-container" class="add-post-form">
    <form action="{% url 'posts:add_blog' %}" method='POST' class="add-post-form" enctype="multipart/form-data">
    {% csrf_token %}
         {{add_post_form.as_p}}
         <button>Add Post</button>
    </form>
   
</div>
</main>

{% endblock content %}