{% extends 'base.html' %}
{% load static %}
{% block title %} {{blog.title}}| {{blog.author}} {% endblock %}

{% block content %}
{% if blog %}
<div class="blog-detail">
            
   
   <div class="blog-content">
    <p> <a href="{{blog.category.get_absolute_url}}" class="category-link">{{blog.category.name | lower}}</a> </p>
        <h3 class="blog-detail-title">{{blog.title}}</h3>
        <h4 class="blog-detail-author">{{blog.author}}</h4>
        {% if blog.image %}
        <img src="{{blog.image.url}}" alt="{{blog.title}}" class="featured-blog-image">
        {% endif %}
        
        <p>{{blog.content | safe }}</p>
        <div class="blog-date-container">
        <p class="blog-date"><b><em>Created:</em></b>  {{blog.created_date}}</p>
        <p class="blog-date"><b><em>Updated:</em></b>  {{blog.updated_date}}</p>
        </div>
   </div>
  
</div>
{% endif %}
{% endblock content %}