{% extends 'base.html' %}
{% load static %}
{% block title %}{{category.name}}{% endblock title%}
{% block content %}
<main class="category-post-page">
    {% if category_blogs %}
    <h2> <b>{{category.name}}</b> </h2>
    <div class="category-blog-container">
        {% for blog in category_blogs %}
        <div class="category-blog">
            
            <img src="{{blog.thumbnail.url}}" alt="{{blog.title}}" class="featured-blog-image">
           <div class="category-blog-content">
                <h3 class="item-title">{{blog.title}}</h3>
                <h4 class="author">{{blog.author}}</h4>
                <p>{{blog.summary | safe }} <a href="{{blog.get_absolute_url}}" class="read-full-link">read full</a> </p>
                <div class="blog-date-container">
                <p class="blog-date"><b><em>Created:</em></b>  {{blog.created_date}}</p>
                <p class="blog-date"><b><em>Updated:</em></b>  {{blog.updated_date}}</p>
                </div>
           </div>
          
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>We do not yet have posts on <b>{{category.name}}</b> </p>
    {% endif %}
    
</main>
{% endblock content %}