{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome {% endblock %}
{% block content %}

<div class="home-page">
    
   
    <main class="home-page-content">
        
   <article class="home-main-content">
    <header class="home-page-header">
        <h2 class="page-title">Welcome  </h2>
        <p>The site is under construction. The content is only for testing purpose.</p>
    </header>
         <div class="featured-post">
            {% if featured_blog %}
            <h3 class="section-title">Featured Blog</h3>
            <div class="featured-blog">
                <img src="{{featured_blog.thumbnail.url}}" alt="{{featured_blog.title}}" class="featured-blog-image">
                <p> <a href="{% url 'posts:category_blogs' featured_blog.category_id featured_blog.category.slug %}" class="category-link">{{featured_blog.category.name | lower}}</a> </p>
                <h3 class="item-title">{{featured_blog.title}}</h3>
                <h4 class="author">{{featured_blog.author}}</h4>
                <p>{{featured_blog.summary | safe }} <a href="{% url 'posts:blog_detail' featured_blog.id %}" class="read-full-link">read full</a> </p>
                <div class="blog-date-container">
                <p class="blog-date"><b><em>Created:</em></b>  {{featured_blog.created_date}}</p>
                <p class="blog-date"><b><em>Updated:</em></b>  {{featured_blog.updated_date}}</p>
                </div>
            </div>
        
            {% endif %}
        </div>
      
   </article>
     
    
    
    </main>
    
</div>

{% endblock content %}