*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}

body{
    --theme-color-main: rgb(24, 117, 43);
    --theme-dark: rgb(57, 62, 58);
    --theme-light: rgb(210, 213, 211);
    --theme-lighter: rgb(241, 245, 242);
    --theme-brown:rgb(255, 174, 0);
    width: 100%;
    margin: auto;
    font-family: Arial;
    position: relative;
}
a{
    text-decoration: none;
}
.header-container{
    width: 100%;
    background: var(--theme-color-main);
    padding:  0;
    margin-bottom: 1px;
    box-shadow: 0 1px 0 rgb(223, 219, 219);
    position: sticky;
    top: 0;
    z-index: 70;
    
}
.top-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
}
.header-logo{
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin: 2px 8px 2px 0;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 250ms all ease-in-out;
}
.header-logo:hover{
    border-color: var(--theme-brown);
    opacity: .7;
}

.app-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: 90vh;
    padding: 20px;
}
.menu, .close-menu{
    position: absolute;
    font-size: 1.3em;
    padding: 2px;
    border: 1px solid var(--theme-light);
    color: var(--theme-lighter);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0);
    transition: 200ms all ease-in-out;
}
.menu{
    top: 50%;
    right: 2px;
    z-index: 180;
}
.close-menu{
    top: 0;
    right: 2px;
    background: var(--theme-dark);
    color: var(--theme-lighter);
}

.masthead{
    text-decoration: none;
    color: var(--theme-lighter);
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
    transition: 200ms all ease-in-out;
}
.masthead:hover{
    color: var(--theme-light);
}


/* Style for main-nav BEGINS*/
.main-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-link{
    margin: 0 6px;
    min-width: 50px;
    color: var(--theme-lighter);
    border-bottom: 1px solid transparent;
    text-align: center;
    transition: 250ms all ease-in-out;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-link:hover{
    background: var(--theme-color-main);
    border-color: var(--theme-lighter);
    color: white;
}
/* Style for main-nav ENDS*/

/* Style for page-layout BEGINS */
.page-layout{
display: grid;
grid-template-columns: 2fr 1fr;
grid-column-gap: 20px;
}
/* Style for page-layout ENDS */
/* Style for main-content begins */
.main-content{
    width: 100%;
    max-width: 1200px;
}
/* Style for main-content ends */
.right-fixed-sidebar{
    background: white;
}
.category-link, .auth-link{
    background:rgb(255, 174, 0);
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 2px;
    text-transform: lowercase;
    font-size: 1.1em;
    color: black;
}
.category-link:hover, .auth-link:hover{
    color: var(--theme-color-main);
}
.side-blog-container{
    margin: 20px 0;
}
.side-blog{
    list-style: none;
}
.side-blog-link{
    font-size: 1.1em;
    line-height: 1.8;
}

.side-blog-link:hover{
    text-decoration: underline;
}
/* Style for component and component details  BEGINS*/
.page-title{
    padding-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-title{
    text-transform: uppercase;
    color: var(--theme-dark);
    padding: 8px 0;
    font-size: 1em;
}
.item-title{
    color: var(--theme-color-main);
}
summary{
    cursor: pointer;
    transition: 250ms all ease-in-out;
}
summary:hover{
    color: var(--theme-color-main)
}
/* Style for component and component details ENDS */
 /* HOME PAGE STYLE BEGINS */
 .home-page{
    width: 100%;
    margin: auto;
}
.home-page-content{
    position: relative;
}

.event{
    border-bottom: 1px solid var(--theme-light);
    padding: 8px 0;
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: .9em;
}
.message{
    text-align: center;
    background: var(--theme-color-main);
    color: yellow;
    padding: 20px;
    transition: 250ms all ease-in-out;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 500px;
    margin: auto;
    z-index: 200;
}
.featured-blog-image{
    display: block;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    margin: 16px auto;
}
 /* HOME PAGE STYLE ENDSS */
 /* LOGIN PAGE STYLE BEGINS */

.form-container{
   
    width: 100%;
    margin: 16px auto;
}
form{
    width: 100%;
    max-width: 180px;
}
label, input{
    display: block;
    width: 100%;
    margin: auto;
}
label{
    margin-top: 8px;
    font-size: .8em;
    letter-spacing: 1px;
}
input{
    all: unset;
    padding: 2px 8px;
    border-radius: 20px;
    border: 1px solid var(--theme-light);
}
input:focus{
    border: 1px solid var(--theme-color-main);
}
input[type='submit']{
    margin-top: 2px;
    cursor: pointer;
    font-size: .8em;
    background: var(--theme-brown);
    color: black;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    transition: 200ms all ease-in-out;
    border:1px solid transparent;
}
input[type='submit']:hover, input[type='submit']:focus {
    background: white;
    color: var(--theme-color-main);
    border-color: var(--theme-brown);
}
 /* LOGIN SECTION STYLE ENDS */

 /* Featured Blog Style Begins */
 .featured-blog, .category-blog{
     line-height: 1.7;
     margin: 16px auto;
 }
 .read-full-link{
     background: var(--theme-brown);
     padding: 2px 6px;
     color: black;
     border-radius: 4px;
     font-size: 1.1em;
 }
 
 .read-full-link:hover{
     text-decoration: underline;
     color:var(--theme-color-main);
 }
.blog-date-container{
    display: flex;
    flex-wrap: wrap;
    font-size: .9em;
    background:var(--theme-light);
    padding: 3px;
}
.blog-date{
    margin-right: 0 16px;
}
.category-blog{
    padding: 8px 0;
    line-height: 1.6;
    border-bottom: 1px solid var(--theme-light);
   
}
.category-blog > img{
    float: left;
    margin: 0 16px 0 0;
    height: 100%;
    width: 100px;
    height: auto;
}
 /* Featured Blog styles END */
 .blog-detail{
     max-width: 500px;
     margin: auto;
     line-height: 1.8;
 }
 .blog-detail-title{
     font-size: 1.8em;
     text-transform: capitalize;
 }
  .blog-detail-title, .blog-detail-author{
     text-align: center;
 }
 .blog-detail-author{
     color: var(--theme-dark);
     font-style: italic;
     letter-spacing: 1px;
 }

/* Footer Styles Begin */
footer{
    padding: 20px 0;
    text-align: center;
    background: var(--theme-lighter);
}
/* Footer Styles END */

/* Mobile width styles */
@media(max-width:750px){
    .page-layout{
        grid-template-columns: 1fr;
    }
    /* .masthead{
        display: none;
    } */
}

@media(max-width:650px){
    .app-wrapper{
        margin: auto;
        grid-template-columns: 1fr;
        overflow: hidden;
        padding: 8px;
    }
    .menu{
        transform: translateY(-50%) scale(1);
    }
    .close-menu{
        transform:scale(1);
    }
    .menu:hover, .close-menu:hover{
        border-color: var(--theme-dark)
    }
    .main-nav{
        position: absolute;
        top: 0;
        transform: translateX(-600px);
    }
    .main-nav.visible{
        background: var(--theme-color-main);
        flex-direction: column;
        justify-content: center;
        transform:translateX(0px);
        top: 0;
        left: 0;
        width: 200px;
        min-height: 100vh;
        transition: 250ms all ease-in-out;
        z-index: 190;
    }
    .main-link{
        margin: 16px 0;
    }
}
