{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/aplus_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %} | Annapurna+</title>
    <style>
        h1{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .header-logo{
            height: 60px;
            object-fit: cover;
            margin-right: 8px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <!-- Top Header begins -->
    <header class="header-container">
        <header class="top-header">
            <span class="menu">≣</span>
            <a href="{% url 'home_view' %}" ><h1> <img src="{% static 'images/aplus_logo.png' %}" alt="" class="header-logo" width="50"> <span class="masthead">Annapurna+</span>  </h1></a>

        <!-- main-nav begins -->
            <div class="main-nav">
                <span class="close-menu">X</span>
                <a href="{% url 'home_view' %}" class="main-link">HOME</a>
                <a href="{% url 'posts:people' %}" class="main-link">People</a>
                <a href="{% url 'posts:programs' %}" class="main-link">Programs</a>
                {% comment %}
                <a href="{% url 'posts:blog_list' %}" class="main-link">Latest Blogs</a>
                {% endcomment %}
            </div>
        </header>
           
       <!-- main-nav ends -->
    </header>
    <!-- Top Header ENDS -->

    <!-- App Wrapper Begins -->
    <div class="app-wrapper">
        
        
        <section class="page-layout">
             <!-- Main Content Begins -->
        <main class="main-content">
            {% if messages%}
    {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}
    {% endif %}

            {% block content %}
            {% endblock content %}
        </main>
        <!-- Main Content ENDS -->
        <article class="right-fixed-sidebar">
            <h3 class="section-title">Upcoming Events</h3>
                {% if upcoming_events %}  
                {% for event in upcoming_events %}
                <div class="event">
                    <h3 class="item-title">{{event.title}}</h3>
                    <p><b>Date and Time:</b>{{event.event_date}}</p>
                    <p><b>Venue: </b>{{event.venue}}</p>
                   
                    <p> <b>Organizer:</b> {{event.organizer}}</p>
                    <details>
                        <summary><b>Event Detail</b></summary>
                        <p>{{event.description}}</p>
                    </details>
                </div>
                {% endfor %}
                {% endif %}
                <div class="category-nav">
                    <h3 class="section-title">Blog Topics</h3>
                    {% if categories %}
                    {% for category in categories %}
                    <a href="{% url 'posts:category_blogs' category.id category.slug %}" class="category-link">{{category.name}}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                
               <div class="side-blog-container">
                   <h3 class="section-title">Latest Blogs</h3>
                   <ul>
                       {% for blog in latest_blogs %}
                        <li class="side-blog">
                            <a href="{% url 'posts:blog_detail' blog.id %}" class="item-title side-blog-link">{{blog.title}}</a>
                        </li>
                   </ul>
                
               
                {% endfor %}
               </div>
                
                
                
                {% if not request.user.is_authenticated %}
              <div class="form-container">
                <h3 class="section-title">Login</h3>
                <form action="{% url 'login' %}" method="POST" class="login-form">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" id="password" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                    <input type="submit" value="Login">
                </form>
              </div>
             
                
                
                {% comment %}
                <a href="{% url 'login' %}" class="main-link">Login</a>
                
                <a href="{% url 'register' %}" class="main-link">Register</a>
                {% endcomment %}
                {% else %}
                <h3 class="section-title">Manage</h3> 
                <a href="{% url 'logout' %}" class="auth-link">Logout</a>
                {% endif %}
                {%if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'admin:index' %}" class="auth-link">Admin</a>
                {% comment %}
                <a href="{% url 'posts:add_blog' %}" class="auth-link">Add Blog</a>
                {% endcomment %}
                {% endif %}
        </article>
        </section>
       
    </div>
    <!-- App Wrapper ENDS -->
   
    <!-- Footer Begins -->
    <footer class="footer">
            <p>&copy; Annapurna+ {% now 'Y' %} - Present. All Rights Reserved.</p>
    </footer>
    <!-- Footer ENDS -->

    <script>
        
        document.addEventListener('DOMContentLoaded', () => {
            function toggleMenu(menuClass, navbarClass){
document.querySelector(menuClass).addEventListener('click', ()=>{
                document.querySelector(navbarClass).classList.toggle('visible')
            })
            }
            toggleMenu('.menu', '.main-nav')
            toggleMenu('.close-menu', '.main-nav')
          });

          
            function fadeMessage(){
                document.querySelector('.message').style.transform ='scale(0)'
            }
            setTimeout(fadeMessage, 5000)

    </script>
</body>
</html>